
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family:  sans-serif;
}
.navbar{
    width: 30%;
    height: 80px;
    position: fixed;
    top: 1.6%;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.9;
}





    h1{
        text-align: center;
    }
      #query{
            height: 32px;
            width: 20%;
            border:  1px solid white;
            color: white;
            margin-left: 500px;
            margin-top: 40px;
            border-radius: 15px;
            transition: .5s;
            background: transparent;
           
    
        }

        #button{
            border: none;
            background-color: rgb(0, 81, 255);
            color: white;
            height: 32px;
            width: 7%;
            border-radius: 15px;
            font-size: 15px;
            margin-right: 400px;
            margin-top: 40px;
            font-weight: bold;
          
        }
        
    #button:hover{
        cursor: pointer;
    }

        .login-link{
            color: #fff;
            opacity: 0.9;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            margin-right: -280px;
        }
        #movies{
            /* border: 1px solid black; */
            width: 274px;
            height: 480px;
            margin-left: 490px;
            margin-right: 550px;
            border: none;
           overflow: auto;
           /* margin-top: -250px; */
            /* display: none; */
            /* position: absolute;
            background: transparent;  */
        }
  
    #button1{
        height: 32px;
        width: 10%;
        background-color: rgb(0, 81, 255);
        color: white;
        border: none;
        font-size: 13px;
        font-weight: bold;
        margin-left: 40px;
        margin-top: 40px;
        border-radius: 15px;
    }

    #button1:hover{
        cursor: pointer;
    }

